:root {
    --bg-color: #fff;
    --typewriterSpeed: 5s;
    --typewriterCharacters: 24;
    --colore1: rgb(0, 1, 118);
    --colore2: #66a3c9;
    --colore3: #f4f4f4;
    --colore4: #ed5527;
    --colore5: #e73c7e;
    --colore6: #23a6d5;
    --colore7: #23d5ab;
  }
  


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background-color: #fff;
}

/*------------------NAVBAR------------------*/



i{
    font-size: 30px;
    color: var(--colore1);
}

.content{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 10px;
    gap: 1rem;
}

.content h3{
    display: none;
    color: var(--colore1);
    font-size: 18px;
}

.content:hover #uno{
    color: var(--colore4);
}

.content:hover #due{
    color: var(--colore5);
}

.content:hover #tre{
    color: var(--colore6);
}

.content:hover #quattro{
    color: var(--colore7);
}

.content:hover h3{
    display: block;
}


a{
    text-decoration: none;
}

header{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    border: 3px solid var(--colore1);
    width: 35rem;
    margin: 0 auto;
    border-radius: 1em 1em 4.5em 4.5em ;
    padding: 30px;
    padding-left: 90px;
    padding-right: 90px;
    background-color: var(--colore3);
    top: 20px;
}

nav{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    top: 30px;
}

.content h3::after{
    content: "";
    height: 2px;
    width: 0%;
    display: block;
    transition: .8s ease;
}

.content #unouno::after{
    background-color: var(--colore4);
}

.content #duedue::after{
    background-color: var(--colore5);
}

.content #tretre::after{
    background-color: var(--colore6);
}

.content #quattroquattro::after{
    background-color: var(--colore7);
}

.content h3:hover::after{
    width: 100%;
}

@media (max-width: 42.625em) {
  
    i{
        font-size: 18px;
    }
    .content{
        gap: 20px;
    }
    .content h3{
        font-size: 14px;
    }
    header{
        display: flex;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        border: 2px solid var(--colore1);
        width: 25rem;
        height: 80px;
        margin: 0 auto;
        border-radius: 1em 1em 4.5em 4.5em ;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: var(--colore3);
        top: 20px;
    
    }
}


/*------------------FINE NAVBAR------------------*/


/*------------------CURSORE CUSTOM------------------*/

.outline {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 2px solid var(--colore2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    mix-blend-mode: hard-light;  /*cambia colore sopra i testi*/  /*difference, hard-ligh*/
    transform: translate(-64px, -64px);
    transition: all 0.3s cubic-bezier(.215, .61, .355, .1);
    pointer-events: none; /*disabilito eventi sugli elementi*/
}

.cursor{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: var(--colore1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    transform: translate(-8px, -8px);
    pointer-events: none;
}

.outline.hover{
    background-color: var(--colore1);
    border-color: var(--colore1);
    width: 128px;
    height: 128px;
}





/*------------------FINE CURSORE CUSTOM------------------*/



/*-----------------------------------------MAIN-----------------------------------------*/






/*------------------SECTION HOME------------------*/

.titolo {
    padding: 30px;
    border-radius: 40px;
    width: 800px;
    height: 180px;
    position: relative;
    top: 20rem;
    left: 10%;
    z-index: 999999;
}

.titolo h1{
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    color: var(--colore1);
    position: relative;
    width: max-content;
}

.titolo h1::before,
.titolo h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.titolo h1::before {
    background-color: #fff;  
    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }
  
.titolo h1::after {
    width: 0.125em;
    background: var(--colore1);
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  
.titolo .span-atech{
	background-size: 400% 400%;
	animation: titolo-atech 15s ease infinite;
    background: -webkit-linear-gradient(-45deg,  #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes titolo-atech {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.subtitle {
    color: rgb(0, 1, 118);
    font-size: clamp(1rem, 1vw + 1rem, 2rem);
    font-weight: 400;
    opacity: 0;
    transform: translateY(2rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
  }
  
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

/*-----------RESPONSIVE-----------*/

@media (max-width: 42.625em){
    .titolo {
        position: relative;
        top: 12rem;
        left: 4%;
    }
}

/*-----------FINE RESPONSIVE-----------*/





/*---------FINE TITOLO ATECH CUSTOM---------*/







/*-----------BOTTONE-----------*/


.consulenza{
    background: linear-gradient(-45deg,  #ee7752, #e73c7e, #23a6d5, #23d5ab);
    width: fit-content;
    padding: 10px 5px;
    position: relative;
    top: 21rem;
    left: 12%;
    border-radius: 5px;
    animation: consulenzaAnimation 20s;
}

@keyframes consulenzaAnimation {
    0%{
        background: transparent;
    }
    100%{
        background: linear-gradient(-45deg,  #ee7752, #e73c7e, #23a6d5, #23d5ab);
    }
}

.button span{
    color: var(--colore1);
    font-weight: 800;
    animation: spanAnimation 6s linear;
}

@keyframes spanAnimation {
    0%{
        color: #fff;
    }
    100%{
        color: var(--colore1);
    }
}

.button{
    padding: 5px;
    width: fit-content;
    background: #fff;
}

.consulenza:hover .button{
    background: linear-gradient(-45deg,  #ee7752, #e73c7e, #23a6d5, #23d5ab);
}




/*-----------RESPONSIVE-----------*/

@media (max-width: 42.625em){
    
}

/*-----------FINE RESPONSIVE-----------*/


/*-----------FINE BOTTONE-----------*/





/*-----------SEZIONI E ANIMAZIONI-----------*/


.sezione{
    width: 100%;
    height: 100vh;
}

.sezione .title{
    text-align: center;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
    opacity: 0;
}

.sezione.in-page .title{
    transform: scale(1.2);
    opacity: 1;
}

/*-----------FINE SEZIONI E ANIMAZIONI-----------*/



.arrow{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-10%, -50%);
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid var(--colore1);
    border-right: 5px solid var(--colore1);
    transform: rotate(45deg);
    margin: -10px;
    animation: freccetta 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -.4s;
}

@keyframes freccetta {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}





/*------------------FINE SECTION HOME------------------*/







/*------------------SECTION ABOUT------------------*/

#about{
    background: linear-gradient(-45deg,  #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    color: #fff;
    height: calc(100% + 350px);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#about .title{
    font-size: clamp(1rem, 1vw + 1rem, 2rem);
    max-width: 75%;
    position: relative; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    top: 80px;
}




#about .panel{
    position: relative;
    top: 15%;
    left: 5%;
    opacity: 0.8;
    width: 90%;
    padding: 30px;
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
    font-size: 1.4rem;
}

.paragrafo .parola-chiave{
    text-decoration: underline #fff;
    font-weight: 900;
}


/*LAVORARE CON NOI*/

.lavorare-con-noi {
    position: relative;
    top:25%;
    width: 600px;
    left: 33%;
    border: 1px solid white;
    border-radius: 25px;
    height: 300px;
}

.lavorare-con-noi h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 10px;
}



.panel2{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
    height: calc(100% - 30px);
}

.work-with-us{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 10px;
    gap: 1rem;

}

.work-with-us i{
    color: #fff;
}

.work-with-us:hover h3{
    text-decoration: underline 3px var(--colore1);
}

.work-with-us:hover i{
    color: var(--colore1);
}

@media (max-width: 925px){
    #about .panel{
        position: relative;
        top: 10%;
    }
    
    .paragrafo{
        font-size:18px;
    }

    .lavorare-con-noi{
        position: relative;
        left: 25px;
        top: 10%;
        width: 400px;
    } 


    .lavorare-con-noi h2{
        font-size: 18px;
    }

    .work-with-us h3, i{
        font-size: 14px;
    }

    .work-with-us{
        gap: 10px;
        padding: 5px;
    }

    .panel2{
        padding: 0;
    }
}
/*------------------FINE SECTION ABOUT------------------*/





/*------------------SECTION VANATGGI------------------*/

#come_lavoriamo {
    background-color: #000117;
}

#come_lavoriamo .line {
    height: 3px;
    width: 80%;
    position: relative;
    top: 45px;
    left: 10%;
    background-color: #fff;
}

#come_lavoriamo .title{
    font-size: clamp(1rem, 1vw + 1rem, 2rem);
    max-width: 75%;
    position: relative; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    top: 80px;
    color: #fff;
}



/*------------------FINE SECTION VANATGGI------------------*/





/*------------------INIZIO CONTACT------------------*/


.contact_us_2 * {
    font-family: Nunito, sans-serif;
  }
  
  .contact_us_2 .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
  }
  
  .contact_us_2 .responsive-cell-block {
    min-height: 75px;
  }
  
  .contact_us_2 input:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
  }
  
  .contact_us_2 .container-block {
    min-height: 75px;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
  }
  
  .contact_us_2 .submit-btn:hover {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #0381fe;
  }
  
  .contact_us_2 .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .contact_us_2 .responsive-container-block.big-container {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    position: relative;
    height: auto;
  }
  
  .contact_us_2 .responsive-container-block.container {
    position: static;
    min-height: 75px;
    flex-direction: column;
    z-index: 2;
    max-width: 800px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }
  
  .contact_us_2 .container-block.form-wrapper {
    background-color: white;
    max-width: 799px;
    text-align: center;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px; */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  
  /* .contact_us_2 .text-blk.contactus-head {
    font-size: 36px;
    line-height: 50px;
    font-weight: 900;
  } */
  
  .contact_us_2 .text-blk.contactus-subhead {
    color: #9c9c9c;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  
  .contact_us_2 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 26px;
    margin-left: 0px;
    min-height: 50px;
  }
  
  .contact_us_2 .input {
    width: 96%;
    height: 50px;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
    color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .contact_us_2 .textinput {
    width: 98%;
    min-height: 150px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .contact_us_2 .submit-btn {
    width: 98%;
    background-color: #03a9f4;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
  }
  
  .contact_us_2 .form-box {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  
  .contact_us_2 .social-media-links {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  
  .contact_us_2 .link-img {
    width: 30px;
    height: 30px;
  }
  
  .contact_us_2 .text-blk.input-title {
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    color: #9c9c9c;
  }
  
  .contact_us_2 ::placeholder {
    color: #dadada;
  }
  
  .contact_us_2 .blueBG {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 300px;
    background-color: #03a9f4;
  }
  
  @media (max-width: 768px) {
    .contact_us_2 .submit-btn {
      width: 100%;
    }
  
    .contact_us_2 .input {
      width: 100%;
    }
  
    .contact_us_2 .textinput {
      width: 100%;
    }
  
    .contact_us_2 .container-block.form-wrapper {
      margin-top: 80px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_2 .text-blk.input-title {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .contact_us_2 .responsive-container-block.container {
      margin-top: 80px;
      margin-right: 0px;
      margin-bottom: 50px;
      margin-left: 0px;
    }
  
    .contact_us_2 .container-block.form-wrapper {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_2 .text-blk.contactus-head {
      font-size: 30px;
      line-height: 40px;
    }
  }
  
  @media (max-width: 500px) {
    .contact_us_2 .container-block.form-wrapper {
      padding-top: 50px;
      padding-right: 15px;
      padding-bottom: 50px;
      padding-left: 15px;
    }
  
    .contact_us_2 .container-block.form-wrapper {
      margin-top: 60px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_2 .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 15px;
      margin-left: 0px;
    }
  
    .contact_us_2 .responsive-container-block {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 35px;
      margin-left: 0px;
    }
  
    .contact_us_2 .text-blk.input-title {
      font-size: 12px;
    }
  
    .contact_us_2 .responsive-container-block.container {
      margin-top: 50px;
      margin-right: 0px;
      margin-bottom: 50px;
      margin-left: 0px;
    }
  
    .contact_us_2 .container-block.form-wrapper {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_2 .responsive-container-block.big-container {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  
    .contact_us_2 .text-blk.contactus-head {
      font-size: 26px;
      line-height: 34px;
    }
  
    .contact_us_2 .input {
      height: 45px;
    }
  }

.contact_us_2{
  background: linear-gradient(-45deg,  #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: abusivisfondo 15s ease infinite;
  /* color: #fff; */
  /* height: 100%; */
}

@keyframes abusivisfondo {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* .contattaci-colorato {
  color: var(--colore5);
}

.bomba {
  color: var(--colore6);
}

.grandi {
  color: var(--colore7);
} */

.contact_us_2 .contattaci-colorato {
  font-size: 36px;
  line-height: 50px;
  font-weight: 900;
  color: yellow;
  animation: colorechegirabomba 3s ease-in infinite;
}

@keyframes colorechegirabomba {
  0% {
    color: var(--colore5);
  }

  50% {
    color: var(--colore6);
  }
  100% {
    color: var(--colore7);
  }
}




/*------------------FINE CONTACT------------------*/

